$base-color: #3f88c5;

body {
  box-sizing: border-box;
  margin: 0;
  padding: to-rem(16);
}

.c-paint {
  min-height: to-rem(24);
  border-radius: to-rem(4);
  background-color: $base-color;
  font-family: monospace;
  color: #ffffff;
  text-align: center;
}

@for $i from 1 through 100 {
  @if ($i % 10 == 0) {
    .c-paint--#{$i} {
      background-color: darken($base-color, percentage($i/100));
    }
  }
}
