@function to-em($value) {
  @return #{$value/16}em;
}

@function to-rem($value) {
  @return #{$value/16}rem;
}

$base-color: #643c95;

$colors: (
  50: #ece8f2,
  100: #d1c5df,
  200: #b29eca,
  300: #9377b5,
  400: #7b59a5,
  500: #643c95,
  600: #5c368d,
  700: #522e82,
  800: #482778,
  900: #361a67,
);

body {
  box-sizing: border-box;
  min-width: to-rem(320);
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: #212121;
  }
}

h1 {
  margin-top: to-rem(56);
  // border-left: solid to-rem(4) lighten(#212121, 25%);
  // padding-left: to-rem(16);
}

h2 {
  font-weight: 400;
}

code {
  color: lighten(#212121, 25%);
  font-family: 'Lucida Console', Monaco, monospace;
}

.o-container {
  max-width: to-em(1024);
  margin: 0 auto;
  padding: 0 to-rem(16);
}

.c-paint {
  min-height: to-rem(24);
  border-radius: to-rem(4);
  background-color: map-get($colors, 500);
  font-family: monospace;
  color: #ffffff;
  text-align: center;
  border: to-rem(1) solid #212121;

  p {
    vertical-align: middle;
    padding: to-rem(8);
    margin: 0;
  }
}

@each $hue, $value in $colors {
  .c-paint--#{$hue} {
    background-color: $value;
  }
}
